* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Arial", sans-serif;
  background-color: #f6f8fa;
  color: #333;
  padding: 2rem;
}

.app-container {
  max-width: 1000px;
  margin: 0 auto;
}